.body {
  margin: 0 auto;
  width: 320px;
}

.body {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
