ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  font: inherit;
  text-transform: inherit;
  border: none;
}

h2, h3, h4, strong {
  color: #000000;
}
