.benefits-title-wrapper {
  position: relative;
  padding: 32px 0 0;
}

.benefits-title-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 1201px;
}

.benefits-title,
.benefits-subtitle,
.benefits-card,
.benefits-subcards {
  padding-left: 18px;
  padding-right: 18px;
}

.benefits-title,
.benefits-subtitle,
.benefits-card-title,
.benefits-card-paragraph:not(:last-child) {
  margin-bottom: 10px;
}

.benefits-triangle-splitter {
  background-color: #81b3d2;
  height: 37px;
}

.benefits-title-mask {
  position: absolute;
  left: 50%;
  height: 37px;
  transform: translateX(-50%);
}

.benefits-card-number, .benefits-subcard-content {
  line-height: 21px;
}

.benefits-card.large {
  background-color: #81b3d2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.benefits-card.large,
.benefits-card.large .benefits-card-title {
  color: #ffffff;
}

.benefits-card.small {
  background-color: #eeeeee;
  padding-top: 25px;
  padding-bottom: 25px;
}

.benefits-item:not(:last-child) .benefits-card.small::after {
  content: "";
  display: block;
  position: relative;
  top: 25px;
  border-bottom: 1px solid #d6d6d6;
}

.benefits-subcard {
  display: flex;
  align-items: flex-start;
}

.benefits-subcards {
  padding-top: 20px;
  padding-bottom: 20px;
} 

.benefits-subcard:not(:last-child) {
  margin-bottom: 20px;
}

.benefits-subcard-icon-wrapper {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-subcard-icon {
  max-width: 100%;
  max-height: 100%;
}

.benefits-subcard-text {
  text-align: left;
  padding-top: 8px;
}

.benefits-subcard-title {
  margin-bottom: 24px;
}
