.form-banner {
    position: relative;
    height: 157px;
}

.form-banner-text {
    position: absolute;
    top: 51px;
    width: 229px;
    left: 50%;
    transform: translateX(-50%);
}

.form-banner-mask {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}