.title {
  color: #000000;
  font-size: 18px;
}

.button {
  width: 100%;
  height: 58px;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  border: none;
}

.textarea, .input-text {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0;
  border: none;
}

.input-with-addon-wrapper {
  display: flex;
  width: 100%;
}

.input-text, .input-addon {
  height: 58px;
}

.input-addon {
  display: inline-block;
  width: 58px;
  padding: 20px;
  background-color: #e6e6e6;
  flex-shrink: 0;
}

.input-text::placeholder {
  font-weight: bold;
  color: #000000;
}

.input-text:hover, .textarea:hover {
  background-color: #e5e5e5;
}

.input-text:focus, .textarea:focus {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.radio-marker, .checkbox-check {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.radio-marker {
  border-radius: 50%;
  border: 18px solid #f2f2f2;
}

input:hover + .radio-marker {
  border-color: #e5e5e5;
  background-color: #333333;
}

input:checked + .radio-marker {
  background-color: #000;
}

.radio, .checkbox {
  display: block;
  width: 58px;
  height: 58px;
  margin-right: 14px;
  flex-shrink: 0;
}

.checkbox-check {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 53% 52%;
  background-size: 23px;
}

input:hover + .checkbox-check {
  background-color: #e5e5e5;
}

input:focus + .checkbox-check,
input:focus + .radio-marker,
input:focus,
textarea:focus,
a:focus {
  outline: 2px solid #000000;
}

.input-with-addon-wrapper input:focus + .input-addon {
  outline: none;
  box-shadow: 2px -2px 0 0 #000000, 2px 2px 0 0 #000000;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

input:checked + .checkbox-check {
  background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 17'%3E%3Cpath d='m22.93 1.32-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2Z' fill='%23333'/%3E%3C/svg%3E");
}
