.welcome-banner {
    height: 389px;
    position: relative;
}

.welcome-banner-text {
    position: absolute;
    top: 90px;
    left: 50%;
    width: 282px;
    transform: translateX(-50%);
}

.welcome-banner-mask {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1201px;
}
